* {
    all: unset; //Unsets everything so you can style everything from scratch
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}


//Global Styles
window {
    font-style: italic;
    font-family: Victor Mono, SFMono Nerd Font;
}

.bar {
    background-color: #222226;
    color: #b2b2b2;
    padding: 0px 15px 0px 15px;
    margin: 8px 21px 0px 21px;
    border-bottom: 2px solid #292B2E;
    border-radius: 290486px;
}

.workspaces {
    font-size: 12px;
    margin: 0px 2px
    //@at-root: #494949;
}
.workspaces .active {
    color: #dcbb8c;
    font-weight: bold;
}
.workspaces .occupied {
    color: #98967E;
}
.workspaces button:hover {
    opacity: 0.6;
}

.workspaces_btn {
    margin: 3px 2px;
    padding: 3px 5px;
    border: 1px solid transparent;
    border-radius: 8px;
    color: #b2b2b2;
    background-color: mix(#CBC1D5,#222226,0.6);
    font-family: SFMono Nerd Font;
}

.tray {
    all: unset;
    font-size: 11px;
}

.side-close {
	padding-top: 80px;
}

// Time
.time {
	color: #CBC1D5;
	padding: 4px;
}
.hour {
	font-size: 85px;
	font-weight: 600;
	font-style: normal;
	font-family: SFMono Nerd Font;
}
.semicolon {
	font-size: 70px;
	margin-left: 5px;
	margin-right: 5px;
	font-style: normal;
	font-family: SFMono Nerd Font;
}
.min {
	font-size: 85px;
	font-weight: lighter;
	font-style: normal;
	font-family: SFMono Nerd Font;
}
.ampm {
	font-size: 40px;
	margin-top: 48px;
	margin-left: 15px;
	font-weight: 600;
	font-style: italic;
	font-family: Victor Mono;
	animation-name: fadeIn;
	animation-duration: 300ms;
}
.date {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 20px;
	animation-name: fadeIn;
	animation-duration: 600ms;
}

.powermenu {
	margin-top: 20px;
	font-family: SFMono Nerd Font;
	font-size: 35px;
}

.powerbuttons {
	border-radius: 20px;
	margin: 10px 40px 10px 40px;
}
.powerbuttons:hover {
	color: #987a6b;
}

.userinfo {
	margin-top: 20px;
}

.seperator {
	font-family: SFMono Nerd Font;
	margin: 10px 0 10px 0px;
}
.face-img {
	min-width: 100px;
	min-height: 100px;
	border-radius: 100%;
	background-size: 100px;
}
.username {
	font-size: 23px;
	font-weight: bold;
	margin-top: 10px;
}
.hostname {
	font-size: 18px;
	margin-top: 10px;
	font-style: italic;
}
.sysinfo {
	font-size: 16px;
	margin-left: 45px;
	margin-top: 8px;
}
.sysinfo-text {
	font-family: SFMono Nerd Font;
	font-style: normal;
	font-weight: 300;
}
.syslabel {
	font-weight: bold;
}

.notification {
	font-family: Victor Mono;
	font-size: 11px;
	border-radius: 5px;
	border: 1px solid #292B2E;
}
.notif {
	background-color: #292B2E;
	border-radius: 5px;
}
