:root{
    --dark-0: #212026;
    --dark-base: #292b2e;
    --dark-1: #373A3E;
    --dark-2: #414449;
    --dark-3: #54585F;
    --dark-4: #5D6269;
    --light-0: #b2b2b2;
    --light-base: #64606B;
    --light-1: #8c8c8c;
   /* url bar*/
    --light-2: #5d4d7a;
   /* icons hover */
    --light-3: #5d4d7a;
   /* Current tab */
    --light-4: #cbc1d5;
    --accent: #5d4d7a;
    --yellow: #1d1c1a;
    --green: #449484;
    --red: #d87085;
    --dim-extension-icon-mask: grayscale(85%) invert(61%) sepia(13%) saturate(176%) hue-rotate(217deg) brightness(92%) contrast(85%);
    --selected-extension-icon-mask: grayscale(85%) invert(100%) sepia(27%) saturate(245%) hue-rotate(197deg) brightness(98%) contrast(99%);

    --personal-container: linear-gradient(to right, #4f97d7 , #7590db);

    --work-container: linear-gradient(to right, #DD6B20 , #d87085);
    --bank-container: linear-gradient(to right, #2d9574 , #449484);
    --shopping-container: linear-gradient(to right, #ce537a , #9a9aba);
}
:root.incognito{
    --dark-0: #212026;
    --dark-base: #292b2e;
    --dark-1: #373A3E;
    --dark-2: #414449;
    --dark-3: #54585F;
    --dark-4: #5D6269;
    --light-0: #292b2e;
    --light-base: #686868;
    --light-1: #8c8c8c;
   /* url bar*/
    --light-2: #5d4d7a;
   /* icons hover */
    --light-3: #5d4d7a;
   /* Current tab */
    --light-4: #292b2e;
    --accent: #5d4d7a;
    --yellow: #ffc265;
    --green: #449484;
    --red: #d87085;
    --extension-icon-mask: grayscale(85%) invert(32%) sepia(9%) saturate(466%) hue-rotate(202deg) brightness(86%) contrast(88%);
}
:root{
    --tab-border-radius: 7px;
   /* border radius of tabs */
    --animation-duration: 200ms;
   /* duration of different animations [0s: turn all animations off] */
    --spacing: 14px;
   /* spacing between tabs. [<15px: compact tabs] */
    --distance-from-edge: 10px;
   /* distance between tabs, and left-right edges of sidebar*/
    --hover-text-spacing: 0.1;
   /* should be left alone. with hover sidebar, if text is visible in collapsed status, increase this */
    --ease-in: cubic-bezier(0.32, 0, 0.67, 0);
    --ease-out: cubic-bezier(0.22, 1, 0.36, 1);
    --ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);
    --collapsed-width: 60px;
   /* Adjust value of favicon-shift if tab icons are incorrectly positioned. >0 shifts left, <0 shifts right. 1=10px. */
    --favicon-shift : -2;
}
/************UNCUSTOMIZED CSS************/
#tabbar-container #tabbar{
    margin-bottom: 15px !important;
}
:root, #background{
    background: var(--dark-0) !important;
}
#all-tabs{
    margin: 12px var(--distance-from-edge);
}
tab-item {
    margin : 5px;
    margin-right : 0px;
    border-radius: 5px;
    padding : 5px 10px;
    transition : all 0.3s ease-i-out !important;
    border: none !important;
    color: var(--light-base) !important;
}
tab-item:not(.collapsed) {
    margin-top: var(--spacing);
    border-radius: var(--tab-border-radius);
    border: none !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
tab-item.collapsed{
    height: 0;
    margin: 0 !important;
    padding: 0 !important;
}
tab-item:not([data-level="0"]):not(.pinned){
    border-left: dashed 2px var(--light-4) !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: calc(var(--spacing)/2);
}
tab-item tab-favicon {
    left: 0;
    filter: var(--dim-extension-icon-mask);
    transition: left calc(var(--animation-duration)*2) var(--ease-out);
}
.highlighter {
    display: none !important;
}
tab-item.active {
    background: var(--light-3) !important;
    color: var(--light-4) !important;
}
tab-item:not(.active).highlighted{
    background: var(--dark-1) !important;
}
tab-item:not(active):hover {
    background: var(--dark-1);
    color: var(--light-0) !important;
}
tab-item:hover tab-closebox {
    right: 8px;
    opacity: 1;
}
tab-item:hover.active tab-closebox {
    margin-right: -4px;
    opacity: 1;
}
tab-item:hover {
    background: var(--dark-2) !important;
    box-shadow: 0 5px 20px -5px var(--dark-2 ) !important;
}
tab-item:not(:hover) tab-closebox {
    right : -30px;
    transform: scale(100%);
}
tab-item:not(pinned) tab-closebox {
    position: absolute;
    height: 24px;
    width: 24px;
    right : calc(-50px + (10px * var(--favicon-shift)));
   /*not showing the icon using double click*/
    border-radius: 50%;
    padding: 4px;
    background: var(--dark-base);
    transition : all var(--animation-duration) var(--ease-out);
}
.closebox:hover::before {
    background: none;
    opacity: 0;
}
.sound-button:after {
    background: var(--light-3) !important;
    margin-top: 2px;
}
.counter{
    color: var(--light-4) !important;
    background: var(--dark-2) !important;
    border-radius: 7px;
    margin: 2px 2px 0px 0px;
    padding: 0 4px;
    padding-bottom: 2px;
    order: -2 !important;
}
.counter:before, .counter:after{
    content: ""
}
/********RIGHT CONTENT TAB(hover)*************/
:root.right tab-item:not(.active) tab-favicon {
    margin-right: calc(21px * var(--favicon-shift));
}
:root.right tab-item tab-favicon {
    transform: scale(100%) translateX(calc(var(--collapsed-width)*-0.1));
    order: 1000;
    filter: drop-shadow(0px 4px 6px rgba(0,0,0,0.2)) grayscale(10%) opacity(80%);
    transition: all var(--animation-duration) var(--ease-in-out);
    margin-left: calc(var(--collapsed-width)*var(--hover-text-spacing)) !important;
    margin-right: calc(18px * var(--favicon-shift));
    margin-bottom: 8px;
}
:root.right tab-item:not(:hover) tab-favicon {
    filter: drop-shadow(0px 4px 6px rgba(0,0,0,0.2)) grayscale(10%) opacity(80%);
    transform: scale(100%);
    margin-right: calc(5px + (10px * var(--favicon-shift)));
}
:root.right tab-item.active:not(:hover) tab-favicon {
    filter: drop-shadow(0px 4px 6px rgba(0,0,0,0.2)) grayscale(10%) opacity(80%);
    transform: scale(100%);
    margin-right: calc(5px + (10px * var(--favicon-shift)));
}
:root.right tab-item:hover tab-favicon, :root.right tab-favicon {
    transform: translateX(calc(5px + (10px * var(--favicon-shift))));
}
:root.right tab-item:hover tab-favicon {
    margin-left: 20px;
}
:root.right tab-item:not(.pinned):hover tab-favicon {
    left: -30px;
    margin-left: 25px;
}
:root.right tab-item.active:not(.pinned):hover tab-favicon {
    left: -20px !important;
    margin-left: 15px;
}
:root.right tab-item.pinned tab-favicon {
    transform: scale(100%);
    margin-left: 10px;
}
:root.right tab-item .label {
    margin-left: 10px;
    margin-right: calc(var(--collapsed-width)*0.3) !important;
    box-shadow: 0 5px 20px -5px var(--dark-3 ) !important;
}
:root.right tab-item:not(pinned):hover tab-closebox{
    right: calc(var(--collapsed-width)*0.3 - 3px);
}
:root.right tab-item:not([data-level="0"]):not(.pinned){
    border: none !important;
    border-right: dashed 2px var(--light-4) !important;
    border-radius: var(--tab-border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
:root.right tab-item.active:not([data-level="0"]):not(.pinned){
    margin-right: 5px !important;
}
:root.right .sound-button{
    order: -1 !important;
}
:root.right tab-item.active.pinned {
    position: relative;
    left: 190px !important;
}
:root.right tab-item.active.pinned tab-favicon {
    transform: scale(100%) !important;
    margin-left: 8px;
}
/***********************************/
tab-item tab-favicon .favicon-default::before {
    filter: var(--dim-extension-icon-mask);
}
tab-item.active tab-favicon .favicon-default::before {
    filter: var(--selected-extension-icon-mask) !important;
}

.tab:not(.group-tab):not([data-current-uri^="chrome:"]):not([data-current-uri^="about:addons"]):not([data-current-uri^="about:preferences"]) .favicon .favicon-default::before {
    background: url("chrome://branding/content/identity-icons-brand.svg") no-repeat center / 100% !important;
    mask: none !important;
}
.tab[data-current-favicon-uri="undefined"] .favicon .favicon-default::before{
    background: url("chrome://branding/content/identity-icons-brand.svg") no-repeat center !important;
    mask: none !important;
}
.tab.last-active {
    background: var(--dark-base);
}
/***********NEW TAB BUTTON**********/
.newtab-button-box {
    border: none !important;
    margin: 0 10px;
}
.newtab-button {
    border: none !important;
    border-radius: 8px;
    padding: 8px 0 !important;
    margin: 0 5px;
    background: var(--dark-0);
}
.newtab-button::before{
    background: var(--dark-0);
}

.newtab-action-selector-anchor {
    border: none !important;
    margin-right: 10px;
    margin-top: 3px;
}

.newtab-button:hover {
    background: var(--dark-base);
    box-shadow: 0 5px 12px -5px var(--dark-2);
}
 
 /**********PINNED TAB***************/

 tab-item.pinned {
    margin: 5px !important;
    padding: 5px !important;
    transition   : all 0.1s var(--ease-out);
}
/**********CONTAINERS***************/

.contextual-identity-marker{
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
}

tab-item.active .contextual-identity-marker {
    display: none !important;
}

.contextual-identity-firefox-container-1:not(.active),
.contextual-identity-firefox-container-2:not(.active),
.contextual-identity-firefox-container-3:not(.active),
.contextual-identity-firefox-container-4:not(.active){
   border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

tab-item.active.contextual-identity-firefox-container-1 {
    background: var(--personal-container) !important;
}

tab-item.active.contextual-identity-firefox-container-2 {
    background: var(--work-container) !important;
}

tab-item.active.contextual-identity-firefox-container-3 {
   background: var(--bank-container) !important;
}

tab-item.active.contextual-identity-firefox-container-4 {
   background: var(--shopping-container) !important;
}

/***********************************/

#all-tabs {
    border: none !important;
} 