(
    timechange: Solar(52.4045, 0.5613),
    arbitrary_list: Some(
        ArbitraryList(
            arbitraries: [
                Arbitrary(
                    config_file: "~/.config/tmux/tmux.conf",
                    dark_line: "source-file ~/.config/tmux/colors/spacedark-theme.tmux",
                    light_line: "source-file                    ~/.config/tmux/colors/spacelight-theme.tmux",
                    post_hook: Some("tmux source-file ~/.config/tmux/tmux.conf")
                )
            ]
        )
    ),
    alacritty: Some(
        Alacritty(
            dark_theme: Some("dark"),
            light_theme: Some("light")
        )
    ),
    bat: Some(
        Bat(
            dark_theme: Some("OneHalfDark"),
            light_theme: Some("OneHalfLight")
        )
    ),
    gsettings: Some(
        GSettings(
            dark_gtk_theme: Some("Space-Dark"),
            dark_icon_theme: Some("Space-Dark"),
            dark_cursor_theme: None,
            dark_font_name: None,
            light_gtk_theme: Some("Space-Light"),
            light_icon_theme: Some("Space-Light"),
            light_cursor_theme: None,
            light_font_name: None,
        )
    ),
    lighting: Some(
        Lighting(
            monitor: Some(
                Monitor(
                    device: "amdgpu_bl0",
                    dark_perc: 20,
                    light_perc: 50
                )
            ),
            keyboard: Some(
                Keyboard(
                    device: "asus::kbd_backlight",
                    dark_perc: 34,
                    light_perc: 0
                )
            )
        )
    ),
    mako: Some(
        Mako(
            dark_theme: Some("config-Space-Dark"),
            light_theme: Some("config-Space-Light")
        )
    ),
    spotify: Some(
        Spotify(
            dark_theme: Some("space-dark"),
            light_theme: Some("space-light")
        )
    ),
    vscode: Some(
        VSCode(
            dark_theme: Some("Spacemacs - dark"),
            light_theme: Some("Spacemacs - light")
        )
    )
)
